<div class="container">
  <div class="jumbotron">


    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleInputEmail1">uri</label>
          <input type="text" [(ngModel)]="uri" class="form-control">

        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-10">
        <div class="form-group">
          <label for="exampleInputEmail1">Query Sparql</label>
          <textarea rows="6" cols="50" type="text" [(ngModel)]="query" class="form-control">
          </textarea>
        </div>
      </div>
      <div class="col-sm-2">

        <button type="button" style="margin-top: 23px" (click)="sparkql(query)"
          class="btn btn-primary">Executar</button>

      </div>
      <h4 style="color: red"> {{er}}</h4>
    </div>
  </div>
  <div class="jumbotron">
    <div class="table-responsive">

      <table class="table">
        <thead>
          <tr>
            <th scope="col" *ngFor="let f of sparkqlData.head.vars">{{f}}</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of sparkqlData.results.bindings">
            <td *ngFor="let z of i">{{z.value}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>