<div class="container">
  <div class="jumbotron">

    <div class="row">

      <div class="col-xl-12  col-md-12 col-sm-12 inputFileClass">
        <label class="text-default">Selecione um arquivo</label>
        <div class="input-group">

          <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
            [uploadInput]="uploadInput">

          <div class="progress-content" *ngIf="files[0]">
            <progressbar [value]="files[0]?.progress?.data?.percentage" [striped]="true" [animate]="true">
              {{files[0]?.progress?.data?.percentage}}% - {{ files[0].progress?.data?.speedHuman }}</progressbar>
          </div>

        </div>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">prefix</th>
          <th scope="col">URL</th>
          <th scope="col">
            <button type="button" style="margin-top: 23px" class="btn btn-success"
              (click)="criaNovoPrefixo()">+</button>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let y of listaPrefixos; let i = index">
          <td style="width: 100px">
            <input type="text" [(ngModel)]="y.uri" class="form-control">
          </td>
          <td>
            <input type="text" [(ngModel)]="y.url" class="form-control">
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="remove(i)">-</button>
          </td>

        </tr>
      </tbody>
    </table>



    <div class="row">
      <div class="col-sm-10">
        <div class="form-group">
          <label for="exampleInputEmail1">Query Sparql</label>
          <textarea rows="6" cols="50" type="text" [(ngModel)]="query" class="form-control">
          </textarea>
        </div>
      </div>
      <div class="col-sm-2">

        <button type="button" style="margin-top: 23px" (click)="sparkql()"
          [disabled]="!enableButoon" class="btn btn-primary">Executar</button>

      </div>
      <h4 style="color: red"> {{er}}</h4>
    </div>
  </div>
  <div class="jumbotron">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" *ngFor="let f of sparkqlData.rows.variables">{{f}}</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of sparkqlData.rows.rows">
            <td *ngFor="let c of i">
              {{c}}
            </td>

          </tr>

        </tbody>
      </table>


    </div>
  </div>
</div>